venv/
__pycache__/
*.pyc
.DS_Store
node_modules/
.venv/
build/
dist/
venv/
__pycache__/
*.pyc
.DS_Store
novo-app-clonado/venv/
venv/
__pycache__/
*.pyc
.DS_Store
novo-app-clonado/venv/
app-desafio-21d/
*.zip
